In [21]:
import pandas as pd
import json
from sqlalchemy import create_engine, text

In [ ]:
!pip install psycopg2

In [ ]:
!pip install SQLAlchemy

In [34]:

df = pd.read_excel('resume_embeddings_mse.xlsx')
df.head()

,resume_text,resume_embeddings
0,SummaryHighly motivated Sales Associate with e...,"[0.0595928393304348, 0.0018512529786676168, 0...."
1,Professional SummaryCurrently working with Cat...,"[0.0612400583922863, 0.04804038628935814, -0.0..."
2,SummaryI started my construction career in Jun...,"[-0.03261592611670494, 0.019536014646291733, 0..."
3,SummaryCertified Electrical Foremanwith thirte...,"[0.009924962185323238, 0.03182929754257202, -0..."
4,SummaryWith extensive experience in business/r...,"[-0.004052576143294573, 0.007266494911164045, ..."

In [51]:
df.shape

(6240, 3)

In [52]:
df.drop_duplicates('resume_text', inplace=True)

In [53]:
df.shape

(642, 3)

In [42]:
df['resume_embeddings'] = df['resume_embeddings'].apply(lambda x: json.loads(x))

In [48]:
len(df['resume_embeddings'][0])

768

In [38]:
df.columns

Index(['resume_text', 'resume_embeddings'], dtype='object')

In [ ]:
def load_candidates_to_db(df):
    conn = psycopg2.connect("dbname=vectordb user=admin password=admin")
    cur = conn.cursor()

    for _, row in df.iterrows():
        cur.execute(
        "INSERT INTO candidates (resume_text, embedding_vector) VALUES (%s, %s)",
        (row['resume_text'], row['resume_embeddings'])
        )
    
    conn.commit()
    cur.close()
    conn.close()
    return f"{len(df)} records saved to candidates table"

In [ ]:
load_candidates_to_db(df)

In [12]:
DATABASE_URL = "postgresql+psycopg2://admin:admin@localhost:5432/vectordb"
engine = create_engine(DATABASE_URL)